<footer>
  <div class="main">
    <div class="main-logo">
      <div class="main-logo-frame">
        <img src="/assets/img/logo.png" alt="" />
        <p>Estatein</p>
      </div>
      <div class="main-logo-input">
        <i id="placeholder" class="pi pi-mail"></i>
        <input type="email" placeholder="Enter Your Email" />
        <i id="button" class="pi pi-send"></i>
      </div>
    </div>
    <div class="main-lists">
      <ul>
        <p class="text-lightGrey">Home</p>
        <li>Hero Section</li>
        <li>Features</li>
        <li>Properties</li>
        <li>Testimonials</li>
        <li>FAQ’s</li>
      </ul>

      <ul>
        <p class="text-lightGrey">About Us</p>
        <li>Our Story</li>
        <li>Our Works</li>
        <li>How It Works</li>
        <li>Our Team</li>
        <li>Our Clients</li>
      </ul>

      <ul>
        <p class="text-lightGrey">Properties</p>
        <li>Portfolio</li>
        <li>Categories</li>
      </ul>

      <ul>
        <p class="text-lightGrey">Services</p>
        <li>Valuation Mastery</li>
        <li>Strategic Marketing</li>
        <li>Negotiation Wizardry</li>
        <li>Closing Success</li>
        <li>Property Management</li>
      </ul>

      <ul>
        <p class="text-lightGrey">Contact Us</p>
        <li>Contact Form</li>
        <li>Our Offices</li>
      </ul>
    </div>
  </div>
  <div class="undermain">
    <p>@2023 Estatein. All Rights Reserved.</p>
    <p>Terms & Conditions</p>
    <div class="undermain-icons">
      <i class="pi pi-facebook"></i>
      <i class="pi pi-linkedin"></i>
      <i class="pi pi-twitter"></i>
      <i class="pi pi-youtube"></i>
    </div>
  </div>
</footer>
