<div class="head">
  <div class="head-frame">
    <h1 class="text-heading">Find Your Dream Property</h1>
    <p class="text-lightGrey">
      Welcome to Estatein, where your dream property awaits in every corner of
      our beautiful world. Explore our curated selection of properties, each
      offering a unique story and a chance to redefine your life. With
      categories to suit every dreamer, your journey
    </p>
  </div>
  <div class="head-filters">
    <div class="head-filters-search">
      <input type="text" placeholder="Search For A Property" />
      <button id="Search"></button>
    </div>
    <div class="head-filters-types">
      <!-- <p-dropdown
        [options]="countries"
        [(ngModel)]="selectedCountry"
        optionLabel="name"
        [showClear]="true"
        placeholder="Select a Country"
      >
      </p-dropdown> -->
    </div>
  </div>
</div>
