@import "variables";
@import "mixin";

.slides {
  display: flex;
  width: 100%;
  justify-content: space-between;

  span {
    color: #ffffff;
  }

  &-buttons {
    display: flex;
    gap: 15px;

    button {
      @include transparent-button;
      border-radius: 50%;
      display: flex;
      align-items: center;
    }
  }
}
