<div class="frame">
  <img src="/assets/img/Image1.png" alt="" />
  <h1 class="frame__tittle text-medium">Seaside Serenity Villa</h1>
  <p class="frame__descripe text-lightGrey">
    A stunning 4-bedroom, 3-bathroom villa in a peaceful suburban
    neighborhood... <a href="">Read More</a>
  </p>
  <div class="frame-info">
    <button>
      <i class="pi pi-bed"></i>
      <p>4-Bedroom</p>
    </button>
    <button><i class="pi pi-bath"></i><P>3-Bathroom</P></button>
    <button>
      <i class="pi pi-house"></i>
      <p>Villa</p>
    </button>
  </div>
  <div class="frame-details">
    <p class="text-lightGrey">price</p>
    <h1 class="text-medium">$550.000</h1>
    <button>View Property Details</button>
  </div>
</div>
